.slider{
    position: relative;
    /* background-color: aqua; */
    height: calc(100svh);
    overflow: hidden;
    /* background: #eee; */
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
  

}
#myVideo {

    position: relative;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .slideritis{
    top: 160px;
    position: absolute;
   left: -1050px;
    /* background-color: black; */
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
/* 
  .swiper-slide :nth-child(1){
    background-image: url("../assests/pexels-asadphoto-169198.jpg");
    background-size: cover;
  } */