body {
    margin: 0;
    padding: 0;
    position: relative;
}

/* .bdy {
    height: 100svh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
} */

.main {
    display: flex;
    width: 100%;
    height: 100svh;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    z-index: 100;

}

.main1 {

    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    position: relative;


}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #ABD4B9;
    justify-content: space-around;
    transition: all 1s;
    position: absolute;
    overflow: hidden;
    left: 0;
}

.animate {
    width: 0px;
}

.right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 100px;
    background-color: #ABD4B9;
    
    transition: all 1s;
    justify-content: space-around;
    position: absolute;
    right: 0;
    overflow: hidden;

}

.m1 {
    width: 15%;
    height: 100%;
    font-size: 5rem;
    color: #476E67;
    
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m2 {
    width: 15%;
    height: 100%;
    font-size: 5rem;
    color: #476E67;
    
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m1:nth-child(odd) {
    animation-name: odd2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.m1:nth-child(even) {
    animation-name: odd1;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.m2:nth-child(even) {
    animation-name: odd2;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

.m2:nth-child(odd) {
    animation-name: odd1;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

@keyframes odd1 {
    from {
        transform: translateY(100svh);
    }

    to {
        transform: translateY(0);

    }

}

@keyframes odd2 {
    from {
        transform: translateY(-100svh);
    }

    to {
        transform: translateY(0);
    }

}

.main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    overflow: hidden;

}

.main2 button {
    background: none;
    outline: none;
    color: #476E67;
    animation-name: topScroll;
    animation-duration: 3s;
    padding: 20px 10px;
    font-weight: bold;
    /* display: none; */

}

@keyframes topScroll {
    from {
        transform: translateY(100svh);
    }

    to {
        transform: translateY(0svh);
    }

}


